/* org-sidian bullets heading symbol change */
/* colored bullets */
/* updated */
/* 2020-11-05 09:46 */

.CodeMirror-code > :not(.CodeMirror-activeline) .cm-formatting-header {
    display:none;
}
/* heading 1 */
.CodeMirror-code> :not(.CodeMirror-activeline) .cm-formatting-header+.cm-header-1::before,
.CodeMirror-code> :not(.CodeMirror-activeline) .cm-header-1:first-child::before {
    margin-right: 8px;
    color: #f8c537;
    content: "◉";
}
/* heading 2 */
.CodeMirror-code> :not(.CodeMirror-activeline) .cm-formatting-header+.cm-header-2::before,
.CodeMirror-code> :not(.CodeMirror-activeline) .cm-header-1:first-child::before {
    margin-left: 10px;
    margin-right: 8px;
    content: "○";
    color: #ff3333;
}
/* heading 3 */
.CodeMirror-code> :not(.CodeMirror-activeline) .cm-formatting-header+.cm-header-3::before,
.CodeMirror-code> :not(.CodeMirror-activeline) .cm-header-1:first-child::before {
    margin-left: 20px;
    margin-right: 8px;
    content: "✸";
    color: #f8c537;
}
/* heading 4 */
.CodeMirror-code> :not(.CodeMirror-activeline) .cm-formatting-header+.cm-header-4::before,
.CodeMirror-code> :not(.CodeMirror-activeline) .cm-header-1:first-child::before {
    margin-left: 30px;
    margin-right: 8px;
    content: "◉";
    color: #ff3333;
}
/* heading 5 */
.CodeMirror-code> :not(.CodeMirror-activeline) .cm-formatting-header+.cm-header-5::before,
.CodeMirror-code> :not(.CodeMirror-activeline) .cm-header-1:first-child::before {
    margin-left: 40px;
    margin-right: 8px;
    content: "○";
    color: #f8c537;
}
/* heading 6 */
.CodeMirror-code> :not(.CodeMirror-activeline) .cm-formatting-header+.cm-header-6::before,
.CodeMirror-code> :not(.CodeMirror-activeline) .cm-header-1:first-child::before {
    margin-left: 50px;
    margin-right: 8px;
    content: "✸";
    color: #ff3333;
}
