/* org-sidian bullets heading symbol change */
/* updated */
/* 2020-10-28 06:50 */
/* colored bullets */

  .CodeMirror-code > :not(.CodeMirror-activeline) .cm-formatting-header {
  display:none;
  }
  /* heading 1 */
  .CodeMirror-code > :not(.CodeMirror-activeline) .cm-header-1::before {
  margin-right: 8px;
  content: "◉";
  }
  /* heading 2 */
  .CodeMirror-code > :not(.CodeMirror-activeline) .cm-header-2::before {
  margin-left: 10px;
  margin-right: 8px;
  content: "○";
  }
  /* heading 3 */
  .CodeMirror-code > :not(.CodeMirror-activeline) .cm-header-3::before {
  margin-left: 20px;
  margin-right: 8px;
  content: "✸";
  }
  /* heading 4 */
  .CodeMirror-code > :not(.CodeMirror-activeline) .cm-header-4::before {
  margin-left: 30px;
  margin-right: 8px;
  content: "◉";
  }
  /* heading 5 */
  .CodeMirror-code > :not(.CodeMirror-activeline) .cm-header-5::before {
  margin-left: 40px;
  margin-right: 8px;
  content: "○";
  }
  /* heading 6 */
  .CodeMirror-code > :not(.CodeMirror-activeline) .cm-header-6::before {
  margin-left: 50px;
  margin-right: 8px;
  content: "✸";
  }
